<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
Drive It is a non existent company created for the purpose of fulfilling subject requirements at <a href="http://www.tut.ac.za"> Tshwane University of Technology </a>, Department of Web and Multimedia
</p>