<footer class="footer">
	

	<nav>
	<ul>
	<li><%= link_to "About", '#' %></li>
	<li><%= link_to "Contact", '#' %></li>
	<li><a href="http://news.railstutorial.org/">News</a></li>
	</ul>
	</nav>
	<p>
	<small>
		&copy; <%= Time.now.year.to_s %> Driver It Autotrader
	</small>
	</p>
</footer>