<footer class="footer clear">
	

	<nav>
			<ul>
				<li><%= link_to 'About us', about_path  %></li>

			</ul>
	</nav>
	<p>
	<small>
		&copy; <%= Time.now.year.to_s %> Driver It Autotrader
	</small>
	</p>
</footer>